<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>

<h3 th:text="#{questions}">Questions</h3>

<table>
    <thead>
    <tr>
        <th th:text="#{id}">ID</th>
        <th th:text="#{category}">Category</th>
        <th th:text="#{translations}">Translations</th>
        <th th:text="#{comment}">Comment</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questions}">
        <td th:text="${question.id}">id</td>
        <td th:text="${question.category.name}">category</td>
        <td>
            <table>
                <tr th:each="tr : ${question.translations.values()}">
                    <td th:text="${tr.language}"></td>
                    <td th:text="${tr.text}"></td>
                </tr>
            </table>
        </td>
        <td th:text="${question.comment}">comment</td>
    </tr>
    </tbody>
</table>

</body>
</html>
