<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>

<h3 th:text="#{question}">Question</h3>

<table>
    <tr>
        <th th:text="#{id}">ID</th>
        <td th:text="${question.id}">id</td>
    </tr>
    <tr>
        <th th:text="#{category}">Category</th>
        <td th:text="${question.category.name}">category</td>
    </tr>
    <tr>
        <th th:text="#{translations}">Translations</th>
        <td>
            <table>
                <tr th:each="tr : ${question.translations.values()}">
                    <td th:text="${tr.language}"></td>
                    <td th:text="${tr.text}"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th th:text="#{comment}">Comment</th>
        <td th:text="${question.comment}">comment</td>
    </tr>
</table>

<h3 th:text="#{answers}">Answers</h3>

<table>
    <tbody>
    <tr th:each="answer : ${question.answers}">
        <td th:text="${answer.id}">answer id</td>
        <td>
            <table>
                <tr th:each="answerTranslation : ${answer.translations.values()}">
                    <td th:text="${answerTranslation.language}">language</td>
                    <td th:text="${answerTranslation.text}">text of answer</td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
